# Build artifacts
*.obj
*.exe
*.lib
*.exp
*.pdb
*.ilk

# Directories
V8/
out/
bin/
node_modules/
.env
deps/
build/

# Temporary files
mega_bench_tmp_*
async_test_dir
*.log
safe.txt
